@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Arimo:wght@500;600;700&family=Bangers&family=Bebas+Neue&family=Chakra+Petch:wght@500&family=Noto+Serif+Myanmar:wght@400;500;600;700;800;900&family=Staatliches&family=Teko:wght@400;500;600;700&display=swap');
* {
    overflow: hidden;
}

body {
    background-color: #ededf5;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Arimo', sans-serif;
}

--root {
    --theme-color: #5842e3;
}

.btn {
    padding: 10px;
}

.btn.btn-theme {
    background: #5842e3;
    color: #fff;
}

.pointer {
    cursor: pointer;
}


/* sweet alert box */

.swal2-container.swal2-top-end.swal2-backdrop-show {
    z-index: 999999;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div {
    border-radius: 10px !important;
}

.swal2-title {
    font-size: 22px;
}

.swal2-actions button {
    border-radius: 10px !important;
    padding: 10px 25px !important;
    margin-top: 20px;
}

body a {
    text-decoration: none;
    color: #333;
    transition: .3s;
}

body .card {
    border-radius: 10px;
}


/* --------------header ------------ */

.header {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.header .header-bar {
    height: 60px;
    display: flex;
    align-items: center;
}

.header i {
    font-size: 20px;
}

.header h2 {
    font-size: 22px;
    margin-bottom: 0px;
}

.header .noti-icon .badge {
    margin-top: -5px;
}

.header .noti-icon i {
    padding-top: 3px;
    font-size: 25px;
}

.header a:hover i {
    color: var(--theme-color);
}


/* --------------footer ------------ */

.footer {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer i {
    font-size: 18px;
    margin-top: 12px;
}

.footer p {
    margin-bottom: 12px;
}

.footer a:hover i {
    color: var(--theme-color);
}

.footer .scan-tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #ededf5;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.footer .scan-tab .inside {
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow 3s infinite;
}

.footer .scan-tab .inside i {
    margin-top: 0px;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 -10px #5842e3;
    }
    40% {
        box-shadow: 0 0 10px #5842e3;
    }
    60% {
        box-shadow: 0 0 15px #5842e3;
    }
    100% {
        box-shadow: 0 0 0px #5842e3;
    }
}


/*---------------- main content -----------------------*/

.account {
    padding: 0 15px;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
}

.account .card {
    border-radius: 10px;
}

.account .action-btn:hover span {
    color: #5842e3;
}


/* ------------Home --------------*/

.home .card img {
    width: 35px;
    height: 35px;
    margin-right: 7px;
}

.home .card span {
    font-size: 16px;
}


/*------------- wallet --------------*/

.wallet {
    padding: 0 3%;
}

.wallet .card {
    background: #5842e3;
    color: #fff;
}

.wallet .card h3 {
    font-weight: 900;
}

.wallet .card h4 {
    font-weight: 900;
    font-size: 20px;
}

.wallet .card span {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    color: #ededf5;
}

.wallet .card p {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}


/*-----transaction ---------*/

.transaction,
.transaction_detail {
    overflow-y: scroll;
    height: 80vh;
}

.transaction::-webkit-scrollbar,
.transaction_detail::-webkit-scrollbar {
    display: none;
}


/*-------receive QR---------*/

.receive-qr .card-body {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.receive-qr .card-body img {
    margin: 20px auto;
}

.receive-qr .card-body h5 {
    margin-bottom: 1px;
    font-weight: bold;
}


/* ---Scan QR----*/

.scan-qr img {
    width: 20%;
}

.scan-qr p {
    margin: 25px auto;
    font-size: 15px;
}

.scan-qr .card-body .scan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    border: none;
    background: #5842e3;
    padding: 10px;
    border-radius: 10px;
    margin: 15px auto;
}

.scan-qr button img {
    width: 30px;
    color: #fff;
}

.scan-qr button span {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 1200px) {
    .scan-qr img {
        width: 80%;
    }
    .scan-qr .card-body .scan {
        width: 100%;
    }
}


/*--------notification----------*/

.notification {
    padding: 40px 10px;
}

.notification .noti-card {
    background: #5842e3;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.notification .noti-card h6,
.notification .noti-card p,
.notification .noti-card small {
    color: #fff;
}

.notification .noti-card.read {
    background: #e1def8;
}

.notification .noti-card.read h6,
.notification .noti-card.read p,
.notification .noti-card.read small {
    color: #333;
}

.notification .noti-card a {
    color: #333;
}

.notification .card-body .img {
    display: flex;
    justify-content: center;
}

.notification img {
    width: 270px;
    object-fit: contain;
}

.notification .card-body a {
    background: #5842e3;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 20px;
}